[submodule "server/lambdatrade-common"]
	path = server/lambdatrade-common
	url = git@github.com:lambdatrade/lambdatrade-common.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:nejla/auth-service.git
