<div id="members">
  <div class="page-header"><h1>Medlemmar</h1></div>
  <div class="page-header"><h2>Se</h2></div>
  <p ng-show="members.members.length === 0">Inga medlemmar har lagts till ännu.</p>
  <table class="table table-hover" ng-show="members.members.length > 0" style="white-space: nowrap;">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Tillagd</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="members.viewMember(member)" ng-repeat="member in members.members" style="cursor: pointer;">
        <td>{{member.name}}</td>
        <td style="width: 40%;">{{member.created | date: 'yyyy-MM-dd HH:mm'}}</td>
      </tr>
    </body>
  </table>
  <div class="page-header"><h2>Lägg till</h2></div>
  <form class="form-horizontal" name="addMemberForm" ng-submit="members.addMember(addMemberForm)">
    <div class="form-group row">
      <label class="col-md-2 control-label" for="addMemberName">Medlemsnamn</label>
      <div class="col-md-3">
        <input class="form-control" name="addMemberName" ng-model="members.addMemberModel.addMemberName" type="text" id="addMemberName" required ui-validate="{ notUniqueError : members.notUnique }" />
      </div>
      <div class="col-md-3" ng-show="members.teams.length > 0">
        <ol class="nya-bs-select" ng-model="members.addMemberModel.addMemberTeam" style="width: 100%;" title="None">
          <li nya-bs-option="team in members.teams">
            <a>{{team.name}}</a>
          </li>
        </ol>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" type="submit">Lägg till</button>
      </div>
    </div>
  </form>
</div>
