<div id="team">
  <div class="modal-header">
    <h4 class="modal-title">Team: {{team.team.name}}</h4>
  </div>
  <div class="modal-body">
    <form name="updateTeamForm" ng-submit="team.update()">
      <div class="form-group" style="padding: 0px 6px;">
        <label class="control-label" for="updateTeamName">Team name</label>
        <input class="form-control" name="updateTeamName" ng-model="team.updateTeamModel.updateTeamName" type="text" id="updateTeamName" required />
      </div>
    </form>
    <!-- TODO: Should not use form group here, probably. -->
    <div class="form-group" ng-show="team.videos.length > 0" style="padding: 0px 6px;">
      <label class="control-label">Videos</label>
      <ol>
	<li ng-repeat="video in team.videos">
          <a ng-click="team.cancel()" ui-sref="videos({ uuid: video.uuid })">{{video.published | date: "yyyy-MM-dd HH:mm"}}</a>
	</li>
      </ol>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="team.cancel()" type="button">Cancel</button>
    <button class="btn btn-primary" ng-click="team.update()" type="button">Update</button>
  </div>
</div>
