<div id="teams">
  <div class="page-header"><h1>Lag</h1></div>
  <div class="page-header"><h2>Se</h2></div>
  <p ng-show="teams.teams.length === 0">Inga lag har lagts till ännu.</p>
  <table class="table table-hover" ng-show="teams.teams.length > 0" style="white-space: nowrap;">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Tillagd</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="teams.viewTeam(team)" ng-repeat="team in teams.teams" style="cursor: pointer;">
        <td>{{team.name}}</td>
        <td style="width: 40%;">{{team.created | date: 'yyyy-MM-dd HH:mm'}}</td>
      </tr>
    </body>
  </table>
  <div class="page-header"><h2>Lägg till</h2></div>
  <form class="form-horizontal" name="addTeamForm" ng-submit="teams.addTeam(addTeamForm)">
    <div class="form-group row">
      <label class="col-md-2 control-label" for="addTeamName">Lagnamn</label>
      <div class="col-md-3">
        <input class="form-control" name="addTeamName" ng-model="teams.addTeamModel.addTeamName" type="text" id="addTeamName" required ui-validate="{ notUniqueError : teams.notUnique }" />
      </div>
      <div class="col-md-7">
        <button class="btn btn-primary" type="submit">Lägg till</button>
      </div>
    </div>
  </form>
</div>
