<div id="training-phase">
  <div class="modal-header">
    <h4 class="modal-title">Övning: {{trainingPhase.trainingPhase.name}}</h4>
  </div>
  <div class="modal-body">
    <form name="updateTrainingPhaseForm" ng-submit="trainingPhase.update()">
      <div class="form-group" style="padding: 0px 6px;">
        <label class="control-label" for="updateTrainingPhaseName">Övningsnamn</label>
        <input class="form-control" name="updateTrainingPhaseName" ng-model="trainingPhase.updateTrainingPhaseModel.updateTrainingPhaseName" type="text" id="updateTrainingPhaseName" required />
      </div>
    </form>
    <!-- TODO: Should not use form group here, probably. -->
    <div class="form-group" ng-show="trainingPhase.videos.length > 0" style="padding: 0px 6px;">
      <label class="control-label">Videoklipp</label>
      <ol>
	<li ng-repeat="video in trainingPhase.videos">
          <a ng-click="trainingPhase.cancel()" ui-sref="videos({ uuid: video.uuid })">{{video.published | date: "yyyy-MM-dd HH:mm"}}<img alt="" src="/api/0.0.0/clubs/{{video.clubUuid}}/videos/uuid/{{video.uuid}}/poster" style="margin-top: 1em; width: 100%;" /></a>
	</li>
      </ol>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="trainingPhase.cancel()" type="button">Avbryt</button>
    <button class="btn btn-primary" ng-click="trainingPhase.update()" type="button">Uppdatera</button>
  </div>
</div>
